USAGE_FILE_NAME=power_usage.csv

# Current rates as at 07/02/2026

# Nova Energy

# Standard user
NV_SU_PWH_CHARGE=0.25711
NV_SU_DAILY_CHARGE=3.00965
NV_LEVY=0.00276

# Low user
NV_LU_DAILY_CHARGE=1.72500
NV_LU_PWH_CHARGE=0.31572
